body {
    background-image: url("https://phonoteka.org/uploads/posts/2023-03/1680076233_phonoteka-org-p-zadnii-fon-tsveti-foni-krasivo-1.jpg"); /* Путь к вашему изображению фона */
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .rectangle {
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
    /*clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);*/
  }
  
  .rectangle h1 {
    text-align: center;
  }
  
  .text-block {
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
    /*clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);*/
  }
  
  .text-block h2, h3 {
    text-align: center;
    font-size: 24px;
  }
  
  .text-block p {
    text-align: center;
    font-size: 18px;
  }